.home {
  background: url("../img/home_background.jpg") no-repeat left;
  width: 100vw;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem 0.5rem 2rem 0.5rem;

}
@media(min-width:50rem){
  .home{
    height: 15rem;
  }
}
.home>h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: -0.5px -0.5px 1px gray,0.5px 0.5px 1px gray;
}
@media(min-width:50rem){
  .home>h1{
    font-size: 4rem;
  }
}
.home>h2{
  margin-top: 0;
  text-shadow: -0.5px -0.5px 1px gray,0.5px 0.5px 1px gray;
}
.home_search {
  display: flex;
  flex-direction: column;
}
.search_button {
  width: 2rem;
  position: absolute;
  right: 30%;
}
