.newsletter {
  background: url("../img/newsletter.jpg") right no-repeat;
  width: 100vw;
 height: 30rem;
  /* -webkit-text-stroke: 0.4px black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter_wrapper{
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  
}
#logo_newsletter {
  background: url("../img/logo_ns.svg") center no-repeat;
  background-size: contain;
  width: 10em;
  height: 10rem;
}
.sub_to_newsletter{
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media(min-width:50rem){
  sub_to_newsLetter{
    width: 24rem;
    justify-content: space-between;
  }
}
.mail{
  width: 10rem;
  height: 2.5rem;
  border-radius: 1rem;
/*   word-wrap: break-word; */
  padding-right: 2.2rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  outline-style: none;
}
/* @media(min-width:50rem){
  .sub_to_newsletter{
    justify-content: center;
  }
} */
.button_newsletter{
/*   mask-image: url("../img/newsLetter/send.png");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url("../img/newsLetter/submit.png");
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain; */
/*   right: 15%; */
display: inline-block;
  width: 6rem;
  height: 2rem;
  color: black;
  height: 3rem;
  border-radius: 2rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  padding: 0;
  background-color: #8BAF45;
  cursor: pointer;
}
.button_newsletter:hover{
  background-color: greenyellow;
  transition: background-color 300ms ease-in;
}

.newsletter_wrapper>p{
  height: 4rem;
  overflow: hidden;
}

